<ng-container *ngIf="cartData && cartData.length>0">
    <div class="container">
        <h1>Shopping Cart</h1>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of cartData let i = index" id="product{{ i }}">
                    <td><img [src]="data.src" alt="Product Image" style="width: 100px;"></td>
                    <td>{{data.name}}</td>
                    <td>{{cartService.currencyFormat(data.price)}}</td>
                    <td><button class="remove-btn btn btn-danger" (click)="removeFromCart(i)"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Subtotal</td>
                    <td colspan="4">{{cartService.currencyFormat(subTotal)}}</td>
                </tr>
                <tr>
                    <td colspan="2">Tax</td>
                    <td colspan="4">{{cartService.currencyFormat(20)}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="4">{{getTotal(subTotal)}}</td>
                </tr>
            </tfoot>
        </table>
        <a *ngIf="cartData && cartData.length>0" href="#" class="checkout-btn">Checkout</a>
    </div>
</ng-container>
<ng-container *ngIf="!cartData">
    <div class="cart-empty">
        <h1>
            Your Cart is empty !
        </h1>
    </div>

</ng-container>