.card-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 15%;
  margin: auto;
}

.medicines {
  margin: 0% 2% 2% 0%;
  width: 250px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  @media (max-width: 920px) {
    
    margin-bottom: 10%;
  } //920px

}

.med-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.med-content {
  margin: 5% 0% 5% 5%;
 }

.med-img {
  img {
    height: 250px;
    width: 250px;
  }
}

.back-to-top {
  position: fixed;
  color: black;
  font-size: 25px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  margin: 2%;
  cursor: pointer;
}

.med-price {
  text-align: center;
  color: grey;
}

.spinner-border{
  position: fixed;
  bottom: 2%;
  left: 50%;
}

.alert-success-snakbar{
  width: 20%;
  margin: auto;
  position: fixed;
  bottom: 3%;
  left: 40%;
  @media (max-width: 920px) {
    width: 50%;
    left: 25%;
  } //920px
}